name: Update tags

on:
  release:
    types:
      - released
      - edited
#  push:
#    tags:
#      - 'v?[0-9]+.[0-9]+.[0-9]+'
#    branches-ignore:
#      - '**'
#    paths-ignore:
#      - '**'

jobs:
  actions-tagger:
    runs-on: ubuntu-latest
    steps:

      - name: Create GitHub App Token
        uses: actions/create-github-app-token@31c86eb3b33c9b601a1f60f98dcbfd1d70f379b4 # v1
        id: app-token
        with:
          app-id: ${{ secrets.PR_BOT_APP_ID }}
          private-key: ${{ secrets.PR_BOT_PRIVATE_KEY }}

      - uses: Actions-R-Us/actions-tagger@330ddfac760021349fef7ff62b372f2f691c20fb # v2
        with:
          publish_latest_tag: true
          token: ${{ steps.app-token.outputs.token }}
